<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="author" content="{{ site.author }}"/>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/academicons/css/academicons.css"/>
</head>

<body class="body">
<div class="container">
    <header class="header">
        <h1>Johann Faouzi<span>PhD Student</span></h1>
        <nav class="links">
            <a href="https://github.com/johannfaouzi"><i class="fa fa-github-square fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/johann-faouzi-374a21128/"><i class="fa fa-linkedin-in fa-3x"></i></a>
            <a href="mailto:johann.faouzi@gmail.com"><i class="fa fa-envelope-square fa-3x"></i></a>
        </nav>
    </header>

    {{ content }}

</div>
</body>
</html>
